page-about{

p{
    color: map-get($colors, primary);
}

ul {
    margin-top: 2.2em;
    list-style: none;
    padding: 0;
}

.logo{
    font-size: 200%
}

#git_link{
    text-decoration: none;
}

.credit{
    text-decoration: none;
    font-size: 60%
}

.further_link{
    text-decoration: none;
    font-size: 60%
}

}