sensify-page-start {

    .grid{
        height:100%;
    }

    //background Image
    .start{
        background: no-repeat 0 0 fixed;
        background-size: cover;
        color: rgb(255, 255, 255);
    }

    //First Row
    #titleRow{
        height:15%;
    }

    // Titel
    #senseBoxTitle{
        width: 70%;
        font-size:40px;
        color: rgb(255, 255, 255);
        overflow:hidden;
        text-align: center;
        white-space: nowrap; 
        text-overflow: ellipsis;
    }

    // Date
    #date{
        font-size:20px;
        color: rgb(255, 255, 255);
        margin-top:30px;
    }


    //Second Row
    #currentSensorRow{

    }

    #currentSensorCol{
        text-align:left;
    }

    #btn{
        height:80%;
        width:100%;
        background-color:transparent;
        text-align: left;
        color:white;
        background:rgba(0, 0, 0, 0.2);
    }


    #curValue{
        font-size: 50px;
    }

    #curUnit{
        font-size: 50px;
    }



    #sunIndicator{
        text-align: center;
        align-content: center;
    }

    #sunIcon{
        margin-bottom: -10px;
        height: 45px;
    }

    //Headings Row
    #headingsRow{
        background:rgba(0, 0, 0, 0.5);
        height:8%;
        //overflow: auto;
        //white-space:nowrap;
        margin-top:80px;
        margin-bottom: 0px;
        //border-bottom: 3px solid #aaa;
        //border-bottom-width: 80%;
        //border-bottom-left-radius: 10%;
        //border-bottom-right-radius: 10%;
    }

    #heading{
        font-size: 20px;
        line-height: 2;
        text-align: left;
        left:30px;
        align-content: center;
        overflow:hidden;
        white-space: nowrap; 
        text-overflow: ellipsis;
    }


    //Third Row
    #dataRow{
        background:rgba(0, 0, 0, 0.5);
        height:52%;
        overflow: auto;
        white-space:nowrap;
        margin-top: 0px;
    }


    #sensorCol{
        font-size: 20px;
        line-height: 2;
        text-align: center;
        align-content: center;
        
    }

    #valueCol{
        font-size: 20px;
        line-height: 2;
        text-align: left;
        align-content: left;
    }

    #unitCol{
        font-size: 20px;
        line-height: 2;
        text-align: center;
        align-content: center;
    }

    #sensors{
        padding-left: 10%;
        border-right: 1px solid #aaa;
    }

    #values{
        padding-left: 10%;
        list-style-type: none;
    }

    #units{
        padding-left: 10%;
        list-style-type: none;
    }

    #element{
        overflow:hidden;
        text-align: left;
        white-space: nowrap; 
        text-overflow: ellipsis;
    }
}
