<ion-content class="start">
    <ion-grid>
        <ion-row>

            <img id="img_1" src="./../../../assets/imgs/test.png" style="width : 100% ; height : 120px" >

            <div class="Overlay_Name">
                <h1 class="h"> {{boxName}}</h1>
                <h1 class="h"> {{day}} : {{hour}}</h1>
            </div> 
            <div class="Overlay_Temp">
                <h1 class="h"> {{temperature}} °C</h1>
            </div> 
            <div id= "overlay1" class="Overlay_extra">
                <h2>Humidity: {{relHumidity}} %</h2>
                <h2>Air pressure: {{pressure}} hPa</h2>
                <h2>UV Intensity: {{UV}} pW/m^3</h2>
                <h2>Illuminance: {{lumen}} 1x</h2>
            </div>
            
            
            <div *ngIf="currBox">
                <h1>{{currBox.model}}</h1>
                <ion-list>
                <div ion-item *ngFor="let sensor of currBox.sensors">
                    <h3>{{sensor.title}}</h3>
                    <p>{{sensor.lastMeasurement.value}} &nbsp; {{sensor.unit}}</p>
                </div>
                </ion-list>
            </div>
        </ion-row>
    </ion-grid>
</ion-content>
