sensify-page-start {
    
    .start{
        background: no-repeat 0 0 fixed;
        background-size: cover;
        color: rgb(255, 255, 255);
    }

    .titles{
        margin-top: 20px;
    }

    .values{
        margin-top: 0px;
    }

    #senseBoxTitle{
        font-size:40px;
        color: rgb(255, 255, 255);
    }

    #date{
        margin-top: 30px;
        font-size:20px;
        color: rgb(255, 255, 255);
    }
    #titleRow{
        background: transparent;
        height: 10vh;
        
    }

    #dateRow{
        height: 8vh;
    }

    #tempRow{
        height: 25vh;
    }

    #temperature{
        position: relative;
        left:30px;
        font-size: 15px;
    }

    .temp{
        position: relative;
        font-size: 60px;
    }

    #sunIndicator{
        text-align: center;
        align-content: center;
    }

    #sunIcon{
        margin-bottom: -10px;
        height: 45px;
    }

    #dataRow{
        height: 40vh;
    }

    #sensors{
        background:rgba(0, 0, 0, 0.5);
        font-size: 20px;
        line-height: 2;
        text-align: left;
        align-content: center;
    }

    #values{
        background:rgba(0, 0, 0, 0.5);
        font-size: 20px;
        line-height: 2;
        text-align: center;
        align-content: center;
    }

    #unit{
        background:rgba(0, 0, 0, 0.5);
        font-size: 20px;
        line-height: 2;
        text-align: center;
        align-content: center;
    }

    li{
        border-right: 1px solid #aaa;
    }
}
