.header{
    background:transparent;
    color:white;
}

.start{
    background: no-repeat 0 0 fixed;
    background-size: cover;

}

.card{
    background-color:rgba(0, 0, 0, 0.5);
    color:white;    
}