<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="boxData">{{boxData.name}}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="refresh_data()" icon-only>
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons start>
      <button ion-button (click)="locate_click()" icon-only>
        <ion-icon name="locate"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="search_click()" icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class="buttons-components-page">
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-icon name="rainy"></ion-icon>
        <img src="assets/imgs/logo.png" />
      </ion-item>
    </ion-card-content>

    <ion-item>
      <button ion-button > <ion-icon name="share"></ion-icon> </button>
    </ion-item>
  </ion-card>

  <div *ngIf="boxData">
    <ion-list>
      <div ion-item *ngFor="let sensor of boxData.sensors">
        <h3>{{sensor.title}}</h3>
        <p>{{sensor.lastMeasurement.value}} &nbsp; {{sensor.unit}}</p>
      </div>
    </ion-list>
  </div>

</ion-content>
