page-weather-app {
  #rainviewerMap{
    width:auto;
    height: 200px;
  }
  ion-card {
    margin-bottom: 2em;
  }

  ion-card-content {
    background-color: #F4F5F8;
  }

  ion-card img {
    width: auto;
    height: auto;
    display: block;
    margin: auto;
  }

  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: whitesmoke;
    }

    .card-subtitle {
      font-size: 3.0em;
      position: absolute;
      top: 70%;
      right: 15%;
      width: 10%;
      color: black;
    }

  }

}
