// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
    primary: #4EAF47,
    secondary: #45beed,
    yellow: #fff200,
    danger: #f53d3d,
    light: #f4f4f4,
    dark: #222
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

/*
Author: L. Voogdt
License: MIT
Version: 1.0
*/

/* Marker setup */
.awesome-marker {
    background: url('../assets/markers/markers-soft.png') no-repeat 0 0;
    width: 35px;
    height: 46px;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    text-align: center;
}

.awesome-marker-shadow {
    background: url('../assets/markers/markers-shadow.png') no-repeat 0 0;
    width: 36px;
    height: 16px;
}

/* Retina displays */
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2),
(-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    .awesome-marker {
        background-image: url('../assets/markers/markers-soft.png');
        background-size: 720px 46px;
    }
    .awesome-marker-shadow {
        background-image: url('../assets/markers/markers-shadow.png');
        background-size: 35px 16px;
    }
}

.awesome-marker i {
    color: #333;
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
}

.awesome-marker .icon-white {
    color: #fff;
}

/* Colors */
.awesome-marker-icon-red {
    background-position: 0 0;
}

.awesome-marker-icon-darkred {
    background-position: -180px 0;
}

.awesome-marker-icon-lightred {
    background-position: -360px 0;
}

.awesome-marker-icon-orange {
    background-position: -36px 0;
}

.awesome-marker-icon-beige {
    background-position: -396px 0;
}

.awesome-marker-icon-green {
    background-position: -72px 0;
}

.awesome-marker-icon-darkgreen {
    background-position: -252px 0;
}

.awesome-marker-icon-lightgreen {
    background-position: -432px 0;
}

.awesome-marker-icon-blue {
    background-position: -108px 0;
}

.awesome-marker-icon-darkblue {
    background-position: -216px 0;
}

.awesome-marker-icon-lightblue {
    background-position: -468px 0;
}

.awesome-marker-icon-purple {
    background-position: -144px 0;
}

.awesome-marker-icon-darkpurple {
    background-position: -288px 0;
}

.awesome-marker-icon-pink {
    background-position: -504px 0;
}

.awesome-marker-icon-cadetblue {
    background-position: -324px 0;
}

.awesome-marker-icon-white {
    background-position: -574px 0;
}

.awesome-marker-icon-gray {
    background-position: -648px 0;
}

.awesome-marker-icon-lightgray {
    background-position: -612px 0;
}

.awesome-marker-icon-black {
    background-position: -682px 0;
}
