sensify-page {
    #pageContent {
        height: calc(100vh - 20px - 42px - 56px); // 100vh - loading - footer - header
    }

    ion-footer {
        .footer-sensify-page {
            height: 42px;
        }
    }

    .selectedPage {
        height: 100%;
        width: 100%;
    }

}
