page-radar-map {

  html, body {
    padding: 0;
    margin: 0;
  }

  #rainviewerMap {
    height: 82.3vh;
    width: 100%;
  }

  .scroll-content {
    overflow-y: auto !important;
  }
  .legend {
    line-height: 18px;

  .legend i {
    color: #555;
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }

  //black time div with white numbers is set over the legend
  #time {
    width: auto;
    height: auto;
    float: left;
    margin-right: 8px;
    opacity: 0.8;
    color: white;
  }

//time-dependent selection (legend text color)
  divDay{
    color: #000;
  }
  divNight{
    color: white;
  }
}
}
